:root {
  --matrix-green: #00ff41;
  --matrix-bg: #0d0208;
  --matrix-dim: #003b1f;
  --matrix-text: #00ff41;
  --matrix-border: #00ff41;
  --matrix-hover: #00cc33;
}


body.light-mode {
  --matrix-green: hsl(43, 100%, 35%);
  --matrix-bg: #ffffff;
  --matrix-dim: #ffffff;
  --matrix-text: hsl(0, 0%, 0%);
  --matrix-text-warning: hsl(35, 100%, 50%);
  --matrix-text-error:  hsl(0, 100%, 50%);
  --matrix-border: hsl(43, 100%, 50%);
  --matrix-hover: hsl(43, 97%, 38%);
}

body.dark-mode {
  --matrix-green: #00ff41;
  --matrix-bg: #0d0208;
  --matrix-dim: #003b1f;
  --matrix-text: #28ff5e;
  --matrix-text-warning: hsl(37, 100%, 50%);
  --matrix-text-error:  hsl(0, 100%, 50%);
  --matrix-border: #00ff41;
  --matrix-hover: #00cc33;
}

.log-container {
  padding: 10px;
  background-color: var(--matrix-bg);
  border: 1px solid var(--matrix-dim);
  border-radius: 5px;
  height: 82vh;
  overflow-y: scroll;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  color: var(--matrix-text);
  box-shadow: 0 0 10px var(--matrix-green);
}

.clear-log-btn {
  background-color: transparent;
  color: var(--matrix-green);
  border: 1px solid var(--matrix-green);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  transition: all 0.2s ease-in-out;
}

.clear-log-btn:hover {
  background-color: var(--matrix-hover);
  color: #000;
  box-shadow: 0 0 5px var(--matrix-green);
}

.log-line {
  padding: 2px 0;
}

.log-line.warn {
  color: var(--matrix-text-warning);
  font-weight: bold ;
}

.log-line.error {
  color: var(--matrix-text-error);
  font-weight: bold ;
}

.log-blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  31%  { opacity: 1; }
  100% { opacity: 1; }
}

.log-line.timestamp {
  color: var(--matrix-dim);
}

.tab-button {
  background-color: var(--matrix-bg);
  color: var(--matrix-text);
  border: 1px solid var(--matrix-dim);
  padding: 6px 10px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
  margin-right: 4px;
}

.tab-button.active {
  background-color: var(--matrix-dim);
  border-bottom: none;
  box-shadow: inset 0 -2px 0 var(--matrix-green);
}

.tab-button:hover {
  background-color: var(--matrix-hover);
  color: #000;
}