.table-container {
  max-width: 100%;
  margin: 20px auto;
  border: 1px solid #444;
  border-radius: 8px;
  background: var(--bg-main);
  color: var(--text-color);
  font-family: sans-serif;
  padding: 10px;
}

/* Fix table layout */
.table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  border: 1px solid #444;
  padding: 4px 8px;
  text-align: right;
  background: var(--bg-main);
  color: var(--text-color);
}

/* Optional: fix header background */
.table-container th {
  background-color: var(--text-color);
  color: var(--bg-main);
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Scrollable table body */
.table-container tbody {
  display: block;
  max-height: 400px;
  /* adjust this to fit ~20 rows visually */
  overflow-y: auto;
}

.table-container thead,
.table-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}



.oc-dark-bg {
  background-color: #282828;
}
.oc-dark-bg.na {
  background-color: #5f5f5f;
  color: #9a9898
}
.oc-dark-bg.bid {
  background-color: rgb(182, 0, 0);
}
.oc-dark-bg.bid_hover {
  background-color: rgb(255, 0, 0);
}

.oc-dark-bg.ask {
  background-color: #005ab3;
}
.oc-dark-bg.ask_hover {
  background-color: #0080ff;
}







.tab-button.used {
  background-color: #a90000
}

.tab-button.third-friday {
  font-style: italic;
  color: rgb(255, 255, 151)
}


.clear-button {
  margin-right: 10px;
  margin-bottom: 4px;
  background-color: #222;
  color: #fff;
  float: right;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: rgb(6, 126, 114);
  cursor: pointer;
}


.hover-label {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  display: none;
  z-index: 1000;
}
.hover-label.sell {
  background-color: #ff0000;
  display: block;
}
.hover-label.buy {
  background-color: #005eff;
  display: block;
}


.non-modal-window {
  position: absolute;
  top: 600px;
  left: 10px;
  width: 300px;
  height: 200px;
  background: #111;
  color: #0f0;
  border: 1px solid #0f0;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 0 20px #0f0;
}


.non-modal-window h3 {
  margin-top: 0;
  cursor: move;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #f00;
  cursor: pointer;
}