.right-container {
    width: 80%;
    background-color: var(--bg-right);
    padding: 6px;
    font-family: Menlo, monospace;
    font-size: 12px;
    height: 97vh;
}

.tabs {
    display: flex;
    height: 5hv;
    border-bottom: 2px solid #ccc;
}

.tab-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    color: var(--tabs-inactive-text-color);
    background-color: var(--tabs-inactive-bg-color);
    border: none;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    text-align: center;
}

.tab-button.active {
    color: var(--tabs-active-text-color);
    background-color: var(--tabs-active-bg-color);
    border-bottom: 2px solid white;
}

/* Tab content */
.tab-content {
    padding: 0px;
    background: white;
    border-radius: 0 0 5px 5px;
    height: 70vh;
    /*        height: 70vh;*/
}
