body {
    margin: 0;
    padding: 2px;
    display: flex;
    font-family: Menlo, monospace;
    font-size: 12px;
    height: 100vh;
    background-color: var(--bg-main);
    color: var(--text-color);
}

/* Light theme (default) */
body.light-mode {
    --bg-main: #ffffff;
    --bg-left: #ffffff;
    --bg-right: #ffffff;
    --text-color: #000000;

    --gradient-start: #ffffff;
    --exp-path-color: #000000;
    --horizontal-grid-color: lightgray;
    --sigma-area-color: rgba(0, 0, 255, 0.073);
}

/* Dark theme */
body.dark-mode {
    --bg-main: #1e1e1e;
    --bg-left: #1e1e1e;
    --bg-right: #1e1e1e;
    --text-color: #ffffff;

    --gradient-start: #000000;
    --exp-path-color: #ffffff;
    --horizontal-grid-color: #444444;
    --sigma-area-color: #0278f63a;
}

.std-text {
    font-family: Menlo, monospace;
    font-size: 12px;
    color: var(--text-color);
}






