body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.left-container {
    width: 300px;
    min-width: 300px;
    height: 1500px;
    background-color: #f4f4f4;
    padding: 10px;
}

.local-status-container {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* Make it take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding doesn't exceed width */
    font-family: Menlo, monospace;
    font-size: 12px;
}

.combo-list-container {
    background-color: #ee909068;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* Make it take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding doesn't exceed width */
    font-family: Menlo, monospace;
    font-size: 12px;
}

.days-left-container {
    background-color: rgba(238, 211, 144, 0.841);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* Make it take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding doesn't exceed width */
    font-family: Menlo, monospace;
    font-size: 12px;
}

.volatility-main-container {
    background-color: rgba(144, 238, 178, 0.796);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* Make it take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding doesn't exceed width */
    font-family: Menlo, monospace;
    font-size: 12px;
}
.per-leg-volatility-container {
    opacity: 1;
    height: auto;
    padding: 10px;
    background-color: rgba(158, 239, 188, 0.796);
    font-family: Menlo, monospace;
    font-size: 12px;
}

.mean-volatility-container {
    opacity: 1;
    padding: 10px;
    height: auto;
    background-color: rgba(158, 239, 188, 0.796);
    font-family: Menlo, monospace;
    font-size: 12px;
}
.checkbox-container {
    background-color: rgba(144, 238, 144, 0.2);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* Make it take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding doesn't exceed width */
    font-family: Menlo, monospace;
    font-size: 12px;
}

.combo-templater-container {
    background-color: #deec3dd6;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* Make it take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding doesn't exceed width */
    font-family: Menlo, monospace;
    font-size: 12px;
}

.sigma-container {
    background-color: hsla(188, 85%, 62%, 0.839);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* Make it take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding doesn't exceed width */
    font-family: Menlo, monospace;
    font-size: 12px;
}

.checkbox-title {
    font-weight: bold;
    margin: 0 0 5px 0;
    /* Remove top margin, keep a small bottom margin */
    display: block;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.checkbox-text-active {
    margin: 0 0 5px 0;
    /* Remove top margin, keep a small bottom margin */
    display: block;
    color: #000000;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.checkbox-text-inactive {
    margin: 0 0 5px 0;
    /* Remove top margin, keep a small bottom margin */
    display: block;
    color: #BBBBBB;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.slider-reverse {
    width: 100%;
    transform: scaleX(-1);
    /* Flip the slider horizontally */
}


.context-container {
    height: 20%;
    padding: 5px;
    background-color: #b8ffe7;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.combo-templates-container {
    height: 20%;
    padding: 5px;
    background-color: #ffc593;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.knob-container {
    height: 20%;
    padding: 5px;
    background-color: #eaf494;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.graph-container {
    width: 80%;
    background-color: #ffffff;
    padding: 6px;
    font-family: Menlo, monospace;
    font-size: 12px;
}


.floating-window {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
    z-index: 1000;
    font-family: Menlo, monospace;
    font-size: 12px;
    border-radius: 5px;
    min-width: 120px;
}

.floating-window .title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-family: Menlo, monospace;
    font-size: 12px;
}

.red-dot {
    width: 15px;
    height: 15px;
    fill: red;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}


.green-dot {
    width: 15px;
    height: 15px;
    fill: green;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 10px;
}

.blinking-red-circle {
    animation: blinkFillRed 1s infinite;
}

@keyframes blinkFillRed {
    0% {
        fill: red;
    }

    33% {
        fill: gray;
    }

    34% {
        fill: gray;
    }

    66% {
        fill: gray;
    }

    67% {
        fill: red;
    }

    100% {
        fill: red;
    }
}

.gray-dot {
    width: 15px;
    height: 15px;
    fill: lightgray;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 10px;
}

.blinking-orange-circle {
    animation: blinkFillOrange 1s infinite;
}

@keyframes blinkFillOrange {
    0% {
        fill: orange;
    }

    33% {
        fill: gray;
    }

    34% {
        fill: gray;
    }

    66% {
        fill: gray;
    }

    67% {
        fill: orange;
    }

    100% {
        fill: orange;
    }
}

.crosshair-line {
    transition: opacity 0.2s ease-in-out;
}


