.tabs-selector-container {
  background-color: var(--bg-tabs-selector-container);
  padding: 4px;
}

.tabs-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.tab-button {
  padding: 8px 15px;
  font-size: 12px;
  color: var(--tab-button-inactive-text-color);
  background-color: var(--tab-button-inactive-bg-color);
  cursor: pointer;
  transition: background-color 0.4s;
  margin-right: 5px;
  border-radius: 5px;
}

.tab-button:hover {
  color: var(--tab-button-hover-text-color);
  background-color: var(--tab-button-hover-bg-color);
}

.tab-button:active {
  color: var(--tab-button-active-text-color);
  background-color: var(--tab-button-active-bg-color);
}

.tab-button.selected {
  color: var(--tab-button-selected-text-color);
  background-color: var(--tab-button-selected-bg-color);
}