.tabs-selector-container {
  background-color: var(--bg-tabs-selector);
  padding: 4px;
}

.tabs-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /*border: 1px solid black;*/
}

.tab-button {
  padding: 8px 15px;
  font-size: 12px;
  color: var(--text-color);
  background-color: rgb(66, 66, 66);
  cursor: pointer;
  transition: background-color 0.4s;
  margin-right: 5px;
  border-radius: 3px;
}

.tab-button:hover {
  background-color: var(--button-active-bg-color);
}

.tab-button:active {
  font-weight: bold;
}

.tab-button.selected {
  background-color: #9b9a9a
}