body.light-mode {
  --bg-body: #ffffff;
  --bg-main-container: #ffffff;
  --text-color: #000000;
  --text-inverse-color: #ffffff;

  --tab-border-color: rgb(142, 141, 141);
  --tab-button-inactive-bg-color: rgb(141, 142, 141);
  --tab-button-inactive-text-color: rgb(255, 255, 255);
  --tab-button-hover-bg-color: rgb(0, 171, 134);
  --tab-button-hover-text-color: rgb(255, 255, 255);
  --tab-button-selected-bg-color: rgb(255, 255, 255);
  --tab-button-selected-text-color: rgb(0, 0, 0);
  --tab-button-active-text-color: rgb(0, 171, 134);
  --tab-button-active-bg-color: rgb(255, 255, 255);

  --bg-local-status: #e9e9e9;
  --bg-combo-list: #fcbaba;
  --bg-days-left: #adffb9;
  --bg-days-expiration: #00b91c;
  --bg-volatility-main: #b0a6ff;
  --bg-per-leg-volatility: #b0a6ff;
  --bg-mean-volatility: #b0a6ff;
  --bg-combo-templater: #1e1e1e;
  --bg-sigma-selector: #a1dcff;

  --zc-line-color: #ff8e2c;
  --zc-text-color: #ffffff;

  --underlying-line-color: #208fff;
  --generic-text-color: #ffffff;

  --put-label-color: #009d03;
  --call-label-color: #ff0e0e;

  --grid-color: #e5e5e5;
  --label-color: #000000;
  --expiry-line-color: #000000;
  --sim-line-color: #38c500;
  --init-line-color: #d28500;

  --sigma-area-color: rgba(22, 88, 143, 0.54);
  --sigma-text-color: #000000;

  --xaxis-material-color: #ff0000;
  --yaxis-material-color: #00ff00;
  --zaxis-material-color: #4444f2;

  --black-material-color: #ffffff;
  --green-material-color: #03a200;
  --orange-material-color: #f8ae00;


  --matrix-bg: #ffffff;
  --matrix-text: hsl(0, 0%, 0%);
  --matrix-text-warning: hsl(35, 100%, 50%);
  --matrix-text-error: hsl(0, 100%, 50%);
  --matrix-border: hsl(43, 100%, 50%);
  --matrix-hover: hsl(43, 97%, 38%);

  --head-table-text: #ffffff;
  --head-table-bg: #000000;

  --selected-bid-bg: #a60000;
  --selected-ask-bg: #002ea6;
  --hover-bid-bg: #ffcccc;
  --hover-ask-bg: #cce0ff;

  --qty-pos-text-color: #4444f2;
  --qty-neg-text-color: #ff0000;

  --strike-col-bg: #727272;
  --strike-col-text: #f0f0f0;

  --selected-combo-button-clear-bg: #ff0000;
  --selected-combo-button-save-bg: #ffab02;
  --selected-combo-button-add-bg: #00f50c;

  --selected-combo-button-view-bg: #038dd2;

}