html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Menlo, monospace;
  font-size: 12px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.global-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.top-dark-mode-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-main-container);
  border-radius: 0px;
}

.std-text {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-color);
}

.std-text.local-mode-active {
  color:#000000;
  background-color: #ff0000;
}
.std-text.local-mode-inactive {
  color:#000000;
  background-color: #00ff1e;
}

.std-text.combo-finder-active {
  color:#000000;
  background-color: #00ff1e;
}
.std-text.combo-finder-inactive {
  color:#000000;
  background-color: #ff0000;
}

.std-text.underlying-changed {
  color: #000000;
  background-color: #ffbf00;
}
.std-text.underlying-unchanged {
  color: #808080;
  background-color: var(--bg-local-status);
}

.std-text.strike-changed {
  color: #000000;
  background-color: #ffbf00;
}
.std-text.strike-unchanged {
  color: #808080;
  background-color: var(--bg-local-status);
}


